html, body {
	background: grey;
	display: grid;
	align-content: center;
	justify-content: center;
	margin-top: 15%;
}

.clock {
	border-radius: 100%;
	background: #fff url(https://cssanimation.rocks/images/posts/clocks/ios_clock.svg) no-repeat center;
	background-size: 85%;
	height: 20em;
	position: relative;
	width: 20em;
	box-shadow: 0px 0px 8px black;
	border: 10px solid black;
}

.clock:after {
	background: #000;
	border-radius: 100%;
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 5%;
	height: 5%;
	z-index: 10;
}

.minutes-container, .hours-container, .seconds-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.hours {
	background: #000;
	height: 20%;
	left: 48.75%;
	position: absolute;
	top: 30%;
	transform-origin: 50% 100%;
	width: 2.5%;
	transition-timing-function: cubic-bezier(0.01, 1.9, 1, 1);
}

.minutes {
	background: #000;
	height: 40%;
	left: 49%;
	position: absolute;
	top: 10%;
	transform-origin: 50% 100%;
	width: 2%;
	transition-timing-function: cubic-bezier(0.01, 1.9, 1, 1);
}

.seconds {
	background: red;
	height: 45%;
	left: 49.5%;
	position: absolute;
	top: 14%;
	transform-origin: 50% 80%;
	width: 1%;
	z-index: 8;
	transition-timing-function: cubic-bezier(0.01, 1.9, 1, 1);
}